@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sen&display=swap');

/* navigation bar */

.top-menu {
    float: center;
    list-style-type: none;
    margin: 50px;
    text-decoration: none;
}

.top-menu a {
    padding: 14px 16px;
    font-size: 20px;
    color: rgb(43, 40, 40);
}

.top-menu a:hover {
    color: rgb(98, 8, 25);
}

.topnav a:active {
    color: rgb(98, 8, 25);
}

/* body */

body {
    font-family: Sen, sans-serif;
    font-weight: 400;
    color: rgb(43, 40, 40);
    font-size: 150%;
}

h1,
h2,
h3,
h4 {
    font-family: Russo One, sans-serif;
    font-weight: 200;
    font-size: 120%;
}

#hero-image {
    background: url('/images/hero-image.jpeg') center center;
    height: 600px;
    width: 100%;
    background-color: aqua;
}

#hero-text {
    width: 700px;
    height: 300px;
    background-color: rgb(98, 8, 25);
    bottom: 150px;
    left: 150px;
    position: absolute;
    opacity: 0.8;
    color: white;
    font-size: 150%;
    padding: 10px;
}

#hero-text>h1 {
    text-transform: uppercase;
}

.pic-tour {
    width: 300px;
    height: 100%;
    display: block;
    object-fit: contain;
    overflow: hidden;
}

.text-left {
    width: 50%;
    float: left;
    height: 300px;
    background-color: blue;
    text-align: center;
    overflow: auto;
}

.text-right {
    width: 50%;
    float: right;
    height: 300px;
    background-color: green;
    text-align: center;
    overflow: auto;
}

.picture-left {
    width: 50%;
    float: left;
    height: 300px;
    background-color: red;
}

.picture-right {
    width: 50%;
    float: right;
    height: 300px;
    background-color: yellow;
}

.intro {
    width: 100%;
    height: 350px;
    background-color: pink;
    text-align: justify;
    overflow: auto;
    resize: both;
}

.intro>h2 {
    text-align: center;
}

/* footer */

footer {
    height: 10px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    margin: 5%;
    padding: 10%;
    font-size: 120%;
    color: black
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#gallery img {
    width: 100%;
}

/* form section */

.form-section {
    clear: left;
    background: url("/images/signup.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: white;
    background-color: rgb(98, 8, 25);
    opacity: 0.8;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}